/*
C'est juste un CSS reset car je n'aime pas les styles de bases.
*/
@import url("https://cdn.jsdelivr.net/npm/tailwindcss-preflight@1.0.1/preflight.min.css");

@font-face {
  font-family: "Richardson Brand Accelerator";
  src: url("RichardsonBrandAccelerator.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --text: #460303;
  --contrast: #bd0000;
  --surface: #f0e8e8;
}

* {
  font-family: "Inter", sans-serif;
  /* Disponible depuis 2022: https://developer.mozilla.org/en-US/docs/Web/CSS/font-synthesis */
  font-synthesis: style;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.rba {
  font-family: "Richardson Brand Accelerator", sans-serif;
  letter-spacing: -0.1em;
}

header {
  border-bottom: var(--contrast) 5px solid;
  padding: 0.5em;
  vertical-align: middle;
  font-size: 2em;

  h1 {
    color: var(--text);
    margin-block: 0;
    line-height: 1em;
  }

  .img {
    /* our logo */
    height: 1em;
    margin-right: 1em;
    aspect-ratio: 1;
    float: left;
  }
}

footer {
  background: var(--text);
  color: var(--surface);
  padding: 0.5em;
  text-align: center;
  margin-top: auto;
}

main {
  padding: 1em;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 600px;
  margin: auto;
}

h2 {
  font-size: 1.5em;
}

.unreadable {
  font-family: "Redacted Script", cursive;
}

/* Source: moi @ https://uiverse.io/SelfMadeSystem/ancient-donkey-33 */
.nav {
  position: sticky;
  top: 0;
  margin: auto;
  margin-top: 2em;
  width: 500px;
  height: 60px;

  /* Path length: 1120, half 560 */
  --default: 0 460 80 480 80 480;
  .outline {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  .rect {
    stroke-dashoffset: 0.1;
    stroke-dasharray: var(--default);
    stroke-linecap: round;
    transition: 0.5s;
    stroke: var(--contrast);
  }

  .container:hover .outline .rect {
    transition: 999999s;
    /* Must specify these values here as something *different* just so that the transition works properly */
    stroke-dashoffset: 1;
    stroke-dasharray: 0.1;
  }

  .container {
    position: absolute;
    inset: 0;
    background: var(--surface);
    color: var(--text);
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding: 0.25em;
  }

  .btn {
    /* flex the goat */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s;
  }

  .btn:hover {
    background: #fff3;
  }

  /* total width: 492 */
  /* width of btn: 98.4 */
  .btn:nth-child(1):hover ~ svg .rect {
    stroke-dashoffset: 0.1;
    stroke-dasharray: 0 8 90 864 90 69;
  }

  .btn:nth-child(2):hover ~ svg .rect {
    stroke-dashoffset: 0.1;
    stroke-dasharray: 0 106.4 90 667.2 90 167;
  }

  .btn:nth-child(3):hover ~ svg .rect {
    stroke-dashoffset: 0.1;
    stroke-dasharray: 0 204.6 90 470.4 90 265.2;
  }

  .btn:nth-child(4):hover ~ svg .rect {
    stroke-dashoffset: 0.1;
    stroke-dasharray: 0 303 90 273.6 90 364;
  }

  .btn:nth-child(5):hover ~ svg .rect {
    stroke-dashoffset: 0.1;
    stroke-dasharray: 0 401.4 90 76.8 90 462;
  }

  .btn:hover ~ .outline .rect {
    stroke-dasharray: var(--default);
    transition: 0.5s !important;
  }
}
