/*
C'est juste un CSS reset car je n'aime pas les styles de bases.
*/
@import url("https://cdn.jsdelivr.net/npm/tailwindcss-preflight@1.0.1/preflight.min.css");

:root {
  --text: #460303;
  --text-2: #800000;
  --link: #a40000;
  --contrast: #bd0000;
  --surface: #f0e8e8;
  --surface-darker: #e1d1d1;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  /* Disponible depuis 2022: https://developer.mozilla.org/en-US/docs/Web/CSS/font-synthesis */
  font-synthesis: style;
}

body {
  min-height: 100vh;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

header {
  background: #fff;
  border-bottom: var(--contrast) 5px solid;
  padding-top: 0.15em;
  padding-bottom: 0.32em;
  padding-left: 0.32em;
  vertical-align: middle;
  font-size: 2em;
  height: 65px;
}

/* ajouté padding pour centrer*/
header h1 {
  color: var(--text);
  margin-block: 0;
  vertical-align: center;
  padding-top: 0.15em;
}

.logo {
  border-style: none;
  height: 50px;
  width: 105px;
  margin-right: 0.5em;
  aspect-ratio: 1;
  line-height: 1em;
  float: left;
}

.nav {
  position: sticky;
  top: 0;
  right: 0;
  margin: auto;

  width: 500px;
  height: 60px;
  font-size: 1rem;
}

.nav .container {
  text-align: center;
  position: absolute;
  inset: 0;
  color: var(--text);
  padding-top: 1em;
  backdrop-filter: blur(5px);
  border-radius: 0px 0px 10px 10px;
  word-spacing: 0.35em;
}

.nav .container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--surface-darker);
  opacity: 0.5;
  z-index: -1;
  border-radius: inherit;
}

.nav .btn {
  /* enlevé flex */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
}

.nav .btn:hover {
  background: rgba(146, 20, 20, 0.2);
}

main {
  padding: 6em;
  color: var(--text);
  gap: 1em;
  margin: auto;
}

.btn1 {
  background-color: #ebd9cd;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-top: 2em;
  padding-bottom: 0.5em;
}

/* titre niveau 2 avec une police et couleur de texte différente */
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: brown;
  font-size: 2em;
  font-weight: bold;
}

img {
  border-style: none;
  height: 480px;
  width: 480px;
  padding: 0px;
}

/* enlevé flex */
.conteneur-image {
  padding-bottom: 1.6em;
  margin-left: auto;
  margin-right: auto;
}

.float {
  float: right;
  margin-left: 50px;
}

.img-circulaire {
  border-style: none;
  height: 480px;
  width: 480px;
  margin-bottom: 1.5em;
}

.icon {
  display: inline;
}

a {
  color: var(--link);
  text-decoration: none;

}
a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

a[href^="http"]::after {
  content: "↗";
  font-size: 0.8em;
  vertical-align: super;
}

.nav a {
  color: var(--text);
  text-decoration: none;
}

p {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

ul {
  padding-left: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style: disc;
}

ol {
  padding-left: 1.5em;
  padding-top: 0.5em;
  list-style-type: decimal;

}

ol ol {
  list-style-type: lower-alpha;
  padding-bottom: 0.75em;
}

ol ol ol {
  list-style-type: lower-roman;
}

li::marker {
  font-weight: bold;
}

/* petit logo réalisé avec css, sans image */
.cercle {
  min-height: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #c89e60ff;
  font-size: 20px;
  color: #000;
  text-align: center;
  line-height: 50px;
  background-image: linear-gradient(to bottom, #c89e60ff, #da0f0f);
}

.cercle:hover {
  transform: scale(1.2);
  background: rgba(146, 20, 20, 0.2);
}

footer {
  background: var(--text);
  color: var(--surface);
  padding: 0.5em;
  text-align: center;
  margin-top: auto;
}

.unreadable {
  font-family: "Redacted Script", cursive;
}
